
*{
    text-align: center;
    font-family: consolas;
    text-decoration: none;
    margin: auto;
}

h1.main-heading{
    background-color:teal;
    height: 50vh;
    width:100%;
    box-sizing: border-box;
    color: whitesmoke;
    padding-top: 20vh;
    letter-spacing: 5px;
    display: inline-block;
}
p{
    margin-top: 30px;
    display: inline-block;
    width: 80%;
    /* height: 30vh; */
    background-color: skyblue;
    padding: 15px;
    outline: medium solid turquoise;
    font-weight: bold;
    text-transform: capitalize;
    text-align: justify;
    /* text-indent: 50px; */
    /* font-size: 1em; */
    font-size: 1.5vh;
    /* word-spacing: 10px; */
    /* white-space: normal; */
}
.container > a{
    margin-top: 30px;
    background-color: gray;
    color:white;
    padding: 5px;
    width: 50%;
    font-weight: bolder;
    display: inline-block;
}
   
.labyrinth{
    letter-spacing: -3px;
    text-shadow: 3px 3px 5px skyblue;
}
i{
    text-align: center;
    /* padding-top:5px; */
}

@media(max-width:399px){
    h1.main-heading{
        font-size: 8vw;
    }
    p{
        font-size: 2.5vh;
    }
}
@media(min-width:400px){
    h1.main-heading{
        font-size: 6vh;
    }
    p{
        font-size: 2.5vh;
    }
}
