
*{
    text-align: center;
    font-family: consolas, monospace;
    text-decoration: none;
    margin: auto;
}

body{
    background-image: url("cole.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center bottom; */
    background-attachment: fixed;

}
h1.main-heading{
    /* background-color:teal; */
    height: 45vh;
    width:100%;
    box-sizing: border-box;
    color: whitesmoke;
    padding-top: 20vh;
    letter-spacing: 5px;
    display: inline-block;

}
p{
    margin-top: 30px;
    display: inline-block;
    width: 80%;
    /* height: 30vh; */
    background-color: skyblue;
    padding: 15px;
    outline: medium solid turquoise;
    font-weight: bold;
    text-transform: capitalize;
    text-align: justify;
    /* text-indent: 50px; */
    /* font-size: 1em; */
    font-size: 1.5vh;
    /* word-spacing: 10px; */
    /* white-space: normal; */
}
.container a{
    background-color: white;
    margin-top: 30px;
    /* width: 50%; */
    font-weight: bolder;
    color:black;
    padding: 4px;
    display: inline-block;
    font-weight: bolder;
    outline: 2px gainsboro;
    border-radius: 10px;
    padding-bottom:10px;
    padding-right: 10px;
}
.container a:link{
    color:black;
}
.container a:visited{
    background-color: lightblue;
}

.container a:hover{
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
}

.container a:active{
    font-size: 25px;
    text-shadow:1.5px 1.5px 1.5px violet;
    background-color: aquamarine;
}
.material-icons{
    position: relative;
    top:5px;
    left: 8px;
}
   
.labyrinth{
    letter-spacing: -3px;
    text-shadow: 3px 3px 5px skyblue;
}
i{
    text-align: center;
    /* padding-top:5px; */
}

@media(max-width:399px){
    h1.main-heading{
        font-size: 8vw;
    }
    p{
        font-size: 2.5vh;
    }
}
@media(min-width:400px){
    h1.main-heading{
        font-size: 6vh;
    }
    p{
        font-size: 2.5vh;
    }
}
